# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Data folder
data/
tensorflow_model/checkpoints/
tensorflow_model/logs/
pytorch_model/checkpoints/
